*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    
}

.logo-testo {
font-size: 40px;
font-weight: bold;
font-family:Verdana, Geneva, Tahoma, sans-serif;
vertical-align: center;
}

body {
background-color: #acb9bf;
}

.rectangle {
width: 800px;
height: 500px;    
background-color: white;
padding: 25px;
display: block;
margin: 25px;
align-content: center;
}

#task {
background-color:#47adf0;
color: white;
border-color: #47adf0;
border-radius: 5px;
margin-bottom: 5px;
margin-left: 25px;
}

#section {
border-radius: 5px;
}

#dettaglio1 {
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:25px;
    margin-left: 25px;
    line-height: 42px;
}

#task1 {
    margin-left: 25px;
    line-height: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight:800;
}

#bottone-compito {
    background-color: #47adf0;
    border-color: #47adf0;
    border-radius: 15px;
    color: white;
}