*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    
}

.logo-testo {
font-size: 30px;
font-weight: bold;
font-family:Verdana, Geneva, Tahoma, sans-serif;
vertical-align: center;
}

body {
background-color: #acb9bf;
}

.rectangle {
width: 800px;
height: 500px;    
background-color: white;
padding: 25px;
display: block;
margin: 25px;
align-content: center;
}

#task {
background-color:#47adf0;
color: white;
border-color: #47adf0;
border-radius: 5px;
margin-bottom: 5px;
margin-left: 25px;
}

#section {
border-radius: 5px;
}